
html, body {
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(to top, rgb(21, 17, 17), rgb(77, 77, 75));
    font: 8pt Arial;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 90px;
}

/* MAIN CONTENT GROWS */
#page-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

/* BUTTONS */
#button-decks {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
}

#button-lobby {
  background-color: yellow;
  border: none;
  color: black;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
}

#button-rules {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
}

#button-credit {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
}

/* FOOTER STICKS TO BOTTOM */
#footer {
  background: linear-gradient(to right, red, yellow, green, blue);
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 8pt;
  width: 100%;
}